.rg-34-test .section-wrapper .home-newest .dw-topper .new-homepage .dw-top-text .auth-image-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}

.rg-34-test .section-wrapper .home-newest .dw-topper .new-homepage .dw-top-text .auth-image-section .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.rg-34-test .section-wrapper .home-newest .dw-topper .new-homepage .dw-top-text .auth-image-section .review .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: muli, sans-serif;
}

.rg-34-test .section-wrapper .home-newest .dw-topper .new-homepage .dw-top-text .auth-image-section .review .text b {
  padding: 0 4px;
}

.rg-34-test .section-wrapper .home-newest .dw-topper .new-homepage .dw-top-text .auth-image-section .review img {
  -o-object-fit: contain;
  object-fit: contain;
  max-width: 72px;
  -o-object-position: center;
  object-position: center;
}

.rg-34-test .section-wrapper .home-newest .dw-topper .new-homepage .dw-top-text .auth-image-section .reviewers-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rg-34-test .section-wrapper .home-newest .dw-topper .new-homepage .dw-top-text .auth-image-section .reviewers-wrap .reviewer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
  border: 2px solid transparent;
}

.rg-34-test .section-wrapper .home-newest .dw-topper .new-homepage .dw-top-text .auth-image-section .reviewers-wrap .reviewer:first-child, .rg-34-test .section-wrapper .home-newest .dw-topper .new-homepage .dw-top-text .auth-image-section .reviewers-wrap .reviewer:last-child {
  max-width: 85px;
}

.rg-34-test .section-wrapper .home-newest .dw-topper .new-homepage .dw-top-text .auth-image-section .reviewers-wrap .reviewer:nth-child(2) {
  max-width: 110px;
}

.rg-34-test .section-wrapper .home-newest .dw-topper .new-homepage .dw-top-text .auth-image-section .reviewers-wrap img {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  max-width: 70px;
  height: auto;
}

.rg-34-test .section-wrapper .home-newest .dw-topper .new-homepage .dw-top-text .auth-image-section .reviewers-wrap .review-text {
  text-align: center;
  font-size: 12px;
  font-family: muli, sans-serif;
  word-wrap: break-word;
  line-height: 15px;
}

@media (max-width: 700px) {
  .rg-34-test .section-wrapper .home-newest .dw-topper .new-homepage .dw-top-text .auth-image-section .review {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .rg-34-test .section-wrapper .home-newest .dw-topper .new-homepage .dw-top-text .auth-image-section .reviewers-wrap {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
