.rg-33-test .shopify-section .nav-topper .marg0 a span{
	width: 120px !important;
	height: 24px;
	border-radius: 15px;
	font-family: inherit;
	font-size: 14px !important;
	background: #ff8238;
	color: #ffffff;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0em;
	padding: 5px 15px;
	text-decoration: none !important;
	margin-left: 15px !important;
}

.rg-33-test .shopify-section .nav-topper .marg0 a{
	text-decoration: none;
	font-size: 14px !important;
}

@media (max-width: 600px){
	.rg-33-test .shopify-section .nav-topper .marg0 a span{
		margin-left: 5px !important;
		padding: 5px 10px;
		font-size: 14px !important;
	}
}

@media (max-width: 375px){
	.rg-33-test .shopify-section .nav-topper .marg0 a span{
		margin-left: 5px !important;
	}
}