.popular-cat-slider .swiper {
  width: 100%;
  height: 100%;
  padding-top: 12px !important;
  padding-bottom: 173px !important;
  padding-left: 56px !important;
  padding-right: 56px !important;
  position: relative !important;
  background: transparent !important;
}

.category.owl-carousel.owl-theme.owl-loaded {
  display: none !important;
}

.popular-cat-slider .category-section.new-category-section {
  background: #edf3ff;
  margin-top: 0px !important;
  position: relative;
  top: -20px;
}

.swiper .swiper-slide .slider-content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
}

.swiper .swiper-slide .slider-content span{
	cursor: pointer;
	padding: 0px 7px 0px 7px;
}

.swiper .swiper-slide .slider-content span:first-child{
	cursor: pointer;
	padding: 0px 7px 0px 0px;
}

.swiper .swiper-slide .slider-content span a{
	text-decoration: none;
	color: #000000;
}

.swiper .swiper-slide .slider-title a{
	font-size: 22px;
	color: #1C1C1E;
}

.swiper .swiper-slide .slider-content span a:after{
	content: '|';
	position: absolute;
	font-size: 11px;
	margin-left: 5px;
}

.popular-cat-slider .swiper .swiper-button-next {
  position: absolute;
  top: 520px !important;
  right: 45%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='39' viewBox='0 0 36 39' fill='none'%3E%3Cpath d='M7.5 21H28.5' stroke='%231C1C1E' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18 10.5L28.5 21L18 31.5' stroke='%231C1C1E' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  color: transparent !important;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.popular-cat-slider .swiper .swiper-button-next:hover {
  position: absolute;
  top: 520px !important;
  right: 45%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='39' viewBox='0 0 36 39' fill='none'%3E%3Cpath d='M7.5 21H28.5' stroke='%23F1F1F4' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18 10.5L28.5 21L18 31.5' stroke='%23F1F1F4' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  color: transparent !important;
  padding: 20px;
  padding-right: 18px;
  border-radius: 50%;
  border: 4px solid transparent;
  background-color: #f36e27;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.popular-cat-slider .swiper .swiper-button-prev {
  position: absolute;
  top: 520px !important;
  left: 45%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='39' viewBox='0 0 36 39' fill='none'%3E%3Cpath d='M28.5 18L7.5 18' stroke='%231C1C1E' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18 28.5L7.5 18L18 7.5' stroke='%231C1C1E' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;
  color: transparent !important;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.popular-cat-slider .swiper .swiper-button-prev:hover {
  position: absolute;
  top: 520px !important;
  right: 45%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='39' viewBox='0 0 36 39' fill='none'%3E%3Cpath d='M28.5 18L7.5 18' stroke='%23F1F1F4' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18 28.5L7.5 18L18 7.5' stroke='%23F1F1F4' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;
  color: transparent !important;
  padding: 20px;
  padding-right: 18px;
  border-radius: 50%;
  border: 4px solid transparent;
  background-color: #f36e27;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.popular-cat-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  padding: 32px 38px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  font-family: inherit;
  border-radius: 20px;
  background: #fff;
  height: 450px;
}

.popular-cat-slider .swiper-slide .slider-img {
  width: 240px;
  height: 240px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  margin-bottom: 32px;
}

.popular-cat-slider .swiper-slide h2 {
  margin: 0px;
  padding: 0px;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: #1c1c1e;
  margin-bottom: 6px;
}

.popular-cat-slider .swiper-slide p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 178.571% */
  text-transform: uppercase;
  color: #8a8a8e;
}

.popular-cat-slider .swiper-slide img {
  max-width: 100%;
  max-height: 100%;
}

.popular-cat-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .popular-cat-slider .swiper {
    padding-left: 10px !important;
    padding-right: 10px !important;
    position: relative !important;
    background: transparent !important;
  }

  .popular-cat-slider .swiper-slide p {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  .popular-cat-slider .swiper-slide h2 {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
  }

  .popular-cat-slider .swiper-slide {
    padding: 20px 16px;
    height: 292px;
  }

  .popular-cat-slider .swiper-slide .slider-img {
    width: 120px;
    height: 122px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-bottom: 16px;
  }
}

@media (max-width: 1024px) {
  .popular-cat-slider .swiper .swiper-button-next,
  .popular-cat-slider .swiper .swiper-button-next:hover,
  .popular-cat-slider .swiper .swiper-button-prev,
  .popular-cat-slider .swiper .swiper-button-prev:hover {
    top: 360px !important;
  }
}

@media (max-width: 800px) {
  .popular-cat-slider .swiper .swiper-button-next,
  .popular-cat-slider .swiper .swiper-button-next:hover {
    right: 40%;
  }

  .popular-cat-slider .swiper .swiper-button-prev,
  .popular-cat-slider .swiper .swiper-button-prev:hover {
    left: 40%;
  }
}

@media (max-width: 580px) {
  .popular-cat-slider .swiper-slide .slider-img {
	  width: 110px;
	  height: 110px !important;
   }
}

@media (max-width: 399px) {
  .popular-cat-slider .swiper .swiper-button-next,
  .popular-cat-slider .swiper .swiper-button-next:hover {
    right: 25%;
  }

  .popular-cat-slider .swiper .swiper-button-prev,
  .popular-cat-slider .swiper .swiper-button-prev:hover {
    left: 25%;
  }
  
  .swiper .swiper-slide .slider-title a{
	font-size: 12px !important;
	color: #1C1C1E;
	line-height: -100px !important;
   }
   
   .swiper .swiper-slide .slider-content span a{
	font-size: 7px !important;
   }
   
   .swiper .swiper-slide .slider-content{
	line-height: 10px !important;
   	
   }
   
   .popular-cat-slider .swiper-slide .slider-img {
	  width: 60px;
	  height: 60px !important;
   }
   
   .popular-cat-slider .swiper-slide {
	  padding: 16px 10px;
	  height: 250px !important;
	}
	
	.popular-cat-slider .swiper .swiper-button-next,
  .popular-cat-slider .swiper .swiper-button-next:hover,
  .popular-cat-slider .swiper .swiper-button-prev,
  .popular-cat-slider .swiper .swiper-button-prev:hover {
    top: 320px !important;
  }
  
  .popular-cat-slider .swiper {
  padding-top: 12px !important;
  padding-bottom: 173px !important;
}
}