.sticky-atc .sticky-atc-button{
  position: fixed;
  bottom: 0;
  left: 0px;
  z-index: 999 !important;
  overflow: hidden;
  width: 100% !important;
  margin: 0 !important;
height: 60px;
-ms-flex-negative: 0;
    flex-shrink: 0;
overflow: hidden !important;
background: #852758;
border: 2px solid #852758;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
border-radius: 0 !important;
color: #FFF;
text-align: center;
font-family: inherit;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
cursor: pointer;
}

.sticky-atc .sticky-atc-button:hover{
background-color: #282c2f;
border: 2px solid #282c2f;
}

.sticky-atc {
overflow-x: hidden;
}

.sticky-atc .footer__container {
margin-bottom: 60px;
}