.dhd-22-test .shopify-section #collection-utilities .usp-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -20px !important;
  padding-bottom: 30px !important;
}

.dhd-22-test
  .shopify-section
  #collection-utilities
  .usp-icons-container
  .usp-icon-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0px;
  padding: 0px 20px;
}

.dhd-22-test
  .shopify-section
  #collection-utilities
  .usp-icons-container
  .usp-icon-item
  img {
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.dhd-22-test
  .shopify-section
  #collection-utilities
  .usp-icons-container
  .usp-icon-item
  .text {
  text-align: center;
  max-width: 150px;
}

.dhd-22-test
  .shopify-section
  #collection-utilities.sticky-top.show
  .usp-icons-container {
  display: none;
}

@media (max-width: 500px) {
  .dhd-22-test .shopify-section #collection-utilities .usp-icons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 10px !important;
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    padding: 0px 10px !important;
    margin-top: 0px !important;
    position: relative;
    bottom: 20px;
  }
  .dhd-22-test
    .shopify-section
    #collection-utilities
    .usp-icons-container
    .usp-icon-item {
    padding: 0px 5px;
    gap: 0 !important;
  }

  .dhd-22-test
    .shopify-section
    #collection-utilities
    .usp-icons-container
    .usp-icon-item
    .text {
    padding: 0px !important;
    font-size: 12px !important;
  }
}

@media (max-width: 420px) {
  .dhd-22-test .shopify-section #collection-utilities .usp-icons-container {
    padding: 0px 5px !important;
  }
  .dhd-22-test
    .shopify-section
    #collection-utilities
    .usp-icons-container
    .usp-icon-item {
    padding: 5px 0px;
    width: 80px;
  }

  .dhd-22-test
    .shopify-section
    #collection-utilities
    .usp-icons-container
    .usp-icon-item {
    gap: 0px !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media (max-width: 380px) {
  .dhd-22-test .shopify-section #collection-utilities .usp-icons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}
