.sc-3-test.sticky-nav .elementor-widget-wrap > div.elementor-widget-button[data-widget_type="button.default"].elementor-mobile-align-center .elementor-button-wrapper:first-child{
	left: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 24;
    margin: 20px auto 0;
    background: #f2f2ef;;
   padding:10px;
}

.sc-3-test.sticky-nav .elementor-widget-wrap > div.elementor-widget-button[data-widget_type="button.default"].elementor-mobile-align-center .elementor-button{
	height: 40px;
}

.sc-3-test.sticky-nav .elementor-widget-wrap > div.elementor-widget-button[data-widget_type="button.default"].elementor-mobile-align-center .elementor-button-text{
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-align: center !important;
	    -ms-flex-align: center !important;
	        align-items: center !important;;
	-webkit-box-pack: center !important;;
	    -ms-flex-pack: center !important;;
	        justify-content: center !important;;
	text-align: center;
	position: relative;
	top: -4px !important;
}

.sc-3-test.sticky-nav div#fc_frame.fc-widget-normal.fc-mobile-view{
	margin-bottom: 50px;
}
