.rg-29-test .section-wrapper .dw-topper .dw-top-text .font48.thetop {
  font-size: 20px;
}

.rg-29-test .section-wrapper .dw-topper .dw-top-text .Sub-title,  .rg-29-test .section-wrapper .dw-topper .dw-top-text .Sub-title span{
  font-size: 28px !important;
  line-height: 32px !important;
}

.rg-29-test .section-wrapper .dw-topper .dw-top-text .themid {
  font-size: 16px;
  width: 90%;
  line-height: 20px !important;
  margin: 12px 0px 20px 0px !important;
}

@media (max-width: 1280px){
	.rg-29-test .section-wrapper .dw-topper .dw-top-text .themid {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .rg-29-test .section-wrapper .dw-topper .dw-top-text .font48.thetop {
    font-size: 18px !important;
  }

  .rg-29-test .section-wrapper .dw-topper .dw-top-text .Sub-title,  .rg-29-test .section-wrapper .dw-topper .dw-top-text .Sub-title span {
    font-size: 26px !important;
  }

  .rg-29-test .section-wrapper .dw-topper .dw-top-text .themid {
    font-size: 15px !important;
    padding: 0 !important;
  }
}

@media (max-width: 700px) {
  .rg-29-test .section-wrapper .dw-topper .dw-top-text .themid {
    padding: 0px !important;
    width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (max-width: 375px) {
  .rg-29-test .section-wrapper .dw-topper .dw-top-text .themid {
   width: 100% !important;
  }
}