.site-wide-announcements .announcement-bar .page-width .slideshow-wrapper .flickity-slider{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.site-wide-announcements a.announcement-link{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	margin: auto;
}

.site-wide-announcements a.announcement-link .announcement-link-text{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  color: #FFF;
  font-family: Tinos;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
}

.site-wide-announcements a.announcement-link .announcement-link-text span{
  font-weight: 400;
}

.site-wide-announcements a.announcement-link .announcement-link-text span a{
  font-weight: 700;
  padding-left: 2px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}