/* applicable to scripts v1 and v2 */
@media (min-width: 1024px) {
  .happy-cus-test .page-width.for-happy-cus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .happy-cus-test .page-width.for-happy-cus.desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .happy-cus-carousel-navigator {
    display: none;
  }

  .carousel-container.desktop {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 45px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .carousel-container.desktop > .happy-cus-carousel-item {
    width: 100px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .carousel-container.desktop > .happy-cus-carousel-item > img {
    width: 150px;
    height: 200px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .carousel-container.desktop
    > .happy-cus-carousel-item
    > .happy-cus-carousel-item-title {
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .carousel-container.desktop
    > .happy-cus-carousel-item
    > .happy-cus-carousel-paragraph {
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .carousel-container.desktop
    > .happy-cus-carousel-item
    > .happy-cus-carousel-paragraph
    > span {
    font-weight: bold;
  }
}

@media (max-width: 1023px) {
  .happy-cus-test .page-width.for-happy-cus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .happy-cus-test .page-width.for-happy-cus.desktop {
    display: none;
  }

  .happy-cus-carousel-navigator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .happy-cus-test .page-width.for-happy-cus > .section-header {
    margin: 0;
  }

  .happy-cus-test .happy-customers {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .happy-cus-test .carousel-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: flex;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    width: 100%;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }

  .happy-cus-test .carousel-container::-webkit-scrollbar {
    display: none;
  }

  .happy-cus-test .happy-cus-carousel-item {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 12px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .happy-cus-test .happy-cus-carousel-item:nth-child(3) {
    margin: 0;
  }

  .happy-cus-test .happy-cus-carousel-item-img {
    width: 150px;
    height: 200px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: 10px;
  }

  .happy-cus-test .happy-cus-carousel-item-title {
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .happy-cus-test .happy-cus-carousel-paragraph {
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .happy-cus-test .happy-cus-carousel-paragraph > span {
    font-weight: bold;
    text-transform: capitalize;
  }

  .happy-cus-test .happy-cus-carousel-navigator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .happy-cus-test .happy-cus-carousel-navigator > span {
    color: #000;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .happy-cus-test .happy-cus-carousel-navigator > .left-arrow,
  .happy-cus-test .happy-cus-carousel-navigator > .right-arrow {
    width: 5px;
    height: 8.673px;
    cursor: pointer;
  }
}
