@media (max-width:799px) {
  .sc-7-test #page .bb-mobile-panel-wrapper .bb-mobile-panel-inner .main-navigation #menu-header-menu-2 .mobile-nav-best-selling-sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0px!important;
    margin-top: 20px!important
  }
  .sc-7-test #page .bb-mobile-panel-wrapper .bb-mobile-panel-inner .main-navigation #menu-header-menu-2 .mobile-nav-best-selling-sec .heading {
    font-size: 32px;
    font-family: Jost,sans-serif;
    font-weight: 600;
    line-height: 1.6em;
    letter-spacing: .9px;
    color: #364a15;
    margin-bottom: 20px!important
  }
  .sc-7-test #page .bb-mobile-panel-wrapper .bb-mobile-panel-inner .main-navigation #menu-header-menu-2 .mobile-nav-best-selling-sec .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 7px
  }
  .sc-7-test #page .bb-mobile-panel-wrapper .bb-mobile-panel-inner .main-navigation #menu-header-menu-2 .mobile-nav-best-selling-sec .items .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    gap: 20px;
    background-color: #fff;
    border-radius: 6px;
    color: #364915;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.15);
    position: relative
  }
  .sc-7-test #page .bb-mobile-panel-wrapper .bb-mobile-panel-inner .main-navigation #menu-header-menu-2 .mobile-nav-best-selling-sec .items .item .review-student-sec {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    font-size: 14px;
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
    font-family: inherit;
    width: 100%!important;
    padding-left: 5px!important;
    padding-right: 5px!important
  }
  .sc-7-test #page .bb-mobile-panel-wrapper .bb-mobile-panel-inner .main-navigation #menu-header-menu-2 .mobile-nav-best-selling-sec .items .item .review-student-sec div {
    height: 15px!important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #323633
  }
  .sc-7-test #page .bb-mobile-panel-wrapper .bb-mobile-panel-inner .main-navigation #menu-header-menu-2 .mobile-nav-best-selling-sec .items .item img {
    border-radius: 6px 6px 0px 0px!important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center
  }
  .sc-7-test #page .bb-mobile-panel-wrapper .bb-mobile-panel-inner .main-navigation #menu-header-menu-2 .mobile-nav-best-selling-sec .items .item .title {
    word-break: break-word;
    letter-spacing: .6px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 20px!important;
    font-family: Jost,sans-serif;
    margin: 0 10px!important;
    color: #364a15
  }
  .sc-7-test #page .bb-mobile-panel-wrapper .bb-mobile-panel-inner .main-navigation #menu-header-menu-2 .mobile-nav-best-selling-sec .items .item .paragraph {
    font-size: 14px;
    text-align: center;
    line-height: 20px!important;
    margin: 0 10px!important;
    font-family: Jost,sans-serif;
    color: #323633;
    margin-bottom: 40px!important
  }
  .sc-7-test #page .bb-mobile-panel-wrapper .bb-mobile-panel-inner .main-navigation #menu-header-menu-2 .mobile-nav-best-selling-sec .items .item .learn-more-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%!important;
    margin-bottom: 20px!important;
    position: absolute;
    bottom: 0
  }
  .sc-7-test #page .bb-mobile-panel-wrapper .bb-mobile-panel-inner .main-navigation #menu-header-menu-2 .mobile-nav-best-selling-sec .items .item .learn-more-btn a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 600;
    text-align: center;
    font-family: Jost,sans-serif;
    font-size: 14px!important;
    color: #364a15;
    text-decoration: none
  }
  .sc-7-test #page .bb-mobile-panel-wrapper .bb-mobile-panel-inner .main-navigation #menu-header-menu-2 .mobile-nav-best-selling-sec .items .item .learn-more-btn a:first-child {
    width: auto;
    height: auto
  }
}
@media (max-width:600px) {
  .sc-7-test #page .bb-mobile-panel-wrapper .bb-mobile-panel-inner .main-navigation #menu-header-menu-2 .mobile-nav-best-selling-sec .heading {
    font-size: 18px
  }
  .sc-7-test #page .bb-mobile-panel-wrapper .bb-mobile-panel-inner .main-navigation #menu-header-menu-2 .mobile-nav-best-selling-sec .items .item .review-student-sec {
    font-size: 8px
  }
  .sc-7-test #page .bb-mobile-panel-wrapper .bb-mobile-panel-inner .main-navigation #menu-header-menu-2 .mobile-nav-best-selling-sec .items .item .title {
    font-size: 12px
  }
  .sc-7-test #page .bb-mobile-panel-wrapper .bb-mobile-panel-inner .main-navigation #menu-header-menu-2 .mobile-nav-best-selling-sec .items .item .paragraph {
    font-size: 10px;
    margin-bottom: 30px
  }
  .sc-7-test #page .bb-mobile-panel-wrapper .bb-mobile-panel-inner .main-navigation #menu-header-menu-2 .mobile-nav-best-selling-sec .items .item .learn-more-btn a {
    font-size: 12px!important
  }
  .sc-7-test #page .bb-mobile-panel-wrapper .bb-mobile-panel-inner .main-navigation #menu-header-menu-2 .mobile-nav-best-selling-sec .items .item {
    gap: 10px
  }
}